---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=48%20Lower%20Mount%20Street%20Dublin%202,%20Ireland&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "48",
                       "short_name" : "48",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Mount Street Lower",
                       "short_name" : "Mount Street Lower",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Dublin",
                       "short_name" : "Dublin",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Dublin City",
                       "short_name" : "Dublin City",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Dublin",
                       "short_name" : "Dublin",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Ireland",
                       "short_name" : "IE",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "48 Mount Street Lower, Dublin, Ireland",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 53.3393744,
                          "lng" : -6.2457052
                       },
                       "southwest" : {
                          "lat" : 53.33936500000001,
                          "lng" : -6.245714599999999
                       }
                    },
                    "location" : {
                       "lat" : 53.33936500000001,
                       "lng" : -6.245714599999999
                    },
                    "location_type" : "RANGE_INTERPOLATED",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 53.3407186802915,
                          "lng" : -6.244360919708497
                       },
                       "southwest" : {
                          "lat" : 53.3380207197085,
                          "lng" : -6.247058880291502
                       }
                    }
                 },
                 "partial_match" : true,
                 "types" : [ "street_address" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 27 Jan 2015 18:40:58 GMT
recorded_with: VCR 2.9.3
