<div id="map-wrapper" data-travel_journal_id="<%=  travel_journal.id %>" data-locations="<%=  travel_journal.locations.to_json(only: [:id, :lat, :lng, :address, :post]) %>">
  <div id="map-canvas"></div>
</div>