<% if @travel_journals.empty? %>
  <h3>You don't have any travel journals; want to <%= link_to "create one?", [:new, :travel_journal] %></h3>
<% end %>
<ul>
  <% @travel_journals.each do |travel_journal| %>
    <li><%= travel_journal.title %></li>
  <% end %>
</ul>