---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=75%209th%20Avenue,%20New%20York,%20NY%2010011,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "75",
                       "short_name" : "75",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Chelsea Market",
                       "short_name" : "Chelsea Market",
                       "types" : [ "establishment" ]
                    },
                    {
                       "long_name" : "9th Avenue",
                       "short_name" : "9th Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" [...]
