<!-- Header and Nav -->

<div class="row">
  <div class="large-5 columns">
    <h1>
      Marco Polo <br/>
      <small>your travel journal</small>
    </h1>
  </div>
  <div class="large-7 columns">
    <ul class="button-group right">
      <li><%= link_to "Sign In", sign_in_path, class: 'button' %></li>
    </ul>
  </div>
</div>

<!-- End Header and Nav -->
