<!-- Header and Nav -->

<div class="row">
  <div class="large-5 columns">
    <h1 style="line-height: 22px;">
      Marco Polo <br/>
      <small>your travel journal</small>
    </h1>
  </div>
  <div class="large-7 columns">
    <% if signed_in? %>
      <ul class="button-group right">
        <li><%= link_to "My Profile", current_user, class: 'button' %></li>
        <li><%= link_to "My Trips", [:travel_journals], class: 'button' %></li>
        <li><%= link_to "Sign Out", sign_out_path, class: 'button' %></li>
      </ul>
    <% else %>
      <ul class="button-group right">
        <li><%= link_to "Sign In", sign_in_path, class: 'button' %></li>
      </ul>    
    <% end %>
  </div>
</div>

<!-- End Header and Nav -->
